.cards-wrapper {
    width: 44%;
    margin: 0 auto;
    .card {
        &.open {
            display: block;
            margin: 0 13px;
        }

        &.closed {
            display: none;
        }
    }

    .date {
        display: inline-block;
    }

    .link {
        display: inline-block;
        padding-left: 10px;

        &:before {
            content: "";
            border-left: 1px solid grey;
            padding-right: 10px;
        }
    }
}
